<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ar.edu.unpa.programacionjava.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarioServlet</servlet-name>
        <servlet-class>ar.edu.unpa.programacionjava.servlets.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaServlet</servlet-name>
        <servlet-class>ar.edu.unpa.programacionjava.servlets.MateriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenServlet</servlet-name>
        <servlet-class>ar.edu.unpa.programacionjava.servlets.ExamenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraServlet</servlet-name>
        <servlet-class>ar.edu.unpa.programacionjava.servlets.CarreraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarioServlet</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaServlet</servlet-name>
        <url-pattern>/materia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenServlet</servlet-name>
        <url-pattern>/examen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraServlet</servlet-name>
        <url-pattern>/carrera</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
